.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid cornflowerblue;
    background-color: white; 

}

.choice-container.hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(red, green, blue, alpha);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: violet;
    color: white;

}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: seagreen;

}

.incorrect {
    background-color: red;
    
}